<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %> 
    <link href="/css/styles.css" rel="stylesheet">

<body>
    <%- include("./partials/header") %> 
    <div> <img class="banner" src="/images/banner-achatado.jpg" alt="Banner">
    </div>
    <main>
        <div>
            <p>INSERTAR CARRUSEL</p>
        </div>
        <section>
            <h2>NOVEDADES</h2>
            <div class="productos">
                <% for( let i = 0;  i < novedades.length; i++ ) { %>
            <article class="article-productos"><a href="/productos/<%= novedades[i].id %>/detalleDeproducto"><img src="/images/<%= novedades[i].image %>" width=100% alt= "<%= novedades[i].name %>"></a>
                <div class="caja-datos-prod">
                    <i class="fas fa-truck icono-truck"></i></a>
                    <p class="precios">$<%= novedades[i].price %></p>
                    <!-- <p class="descuentos"><%= novedades[i].discount %>% off</p> -->
                    <h4 class="oculto-enmobile"><%= novedades[i].name %></a></h4>
                </ul>
                
                </div>
            </article>
            <% }%>
            </div>
        </section>
        <section>
            <h2>OFERTAS</h2>
            <div class="productos">
                <% for( let i = 0;  i < enOferta.length; i++ ) { %>
                    <article class="article-productos"><a href="/productos/<%= enOferta[i].id %>/detalleDeproducto %>"><img src="/images/<%= enOferta[i].image %>" width=100% alt= "<%= enOferta[i].name %>"></a>
                        <div class="caja-datos-prod">
                            <i class="fas fa-truck icono-truck"></i></a>
                            <p class="precios">$<%= enOferta[i].price %></p>
                            <!-- <p class="descuentos"><%= enOferta[i].descuento %>% off</p> -->
                            <h4 class="oculto-enmobile"><%= enOferta[i].name %></a></h4>
                        </ul>
                        
                        </div>
                    </article>
                    <% }%>
            </div>
        </section>
        <section class='historiaMarketing'>
            <article class='historiaMarketingImage'><img src="/images/deportista.jpg" width=100% alt="foto deportista"></article>
            <article class='historiaMarketingText'><p> No puedes poner un límite a nada. Cuanto más sueñas, más lejos llegas. - Michael Phelps</p></article>
        </section>
    </main>
</body>
<%- include("./partials/footer")%> 
</html>
