<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %> 
    <link href="/css/styles.css" rel="stylesheet">

<body>
    <%- include("./partials/header") %> 
    <div> <img class="banner" src="/images/banner-achatado.jpg" alt="Banner">
    </div>
    <main>
        <!-- la opción de acceder al listado de productos sólo aparece si el usuario está logueado-->
        <% if (locals.isLogged) { %>
            <h2 class="titulo-category-home">Hola <%= locals.userLogged.name %>! Edita tu lista de productos <a href="/productos">aquí  <i class="fas fa-clipboard"></i></a></h2>

        <% } %>
        <div>
            <p>INSERTAR CARRUSEL <h4 class="oculto-enmobile"></p>
        </div>
        <section>
            <h2 class="titulo-category-home">NOVEDADES</h2>
            <div class="productos">
                <% for( let i = 0;  i < novedades.length; i++ ) { %>
            <article class="article-productos"><a href="/productos/<%= novedades[i].id %>/detalleDeproducto"><img src="/images/productos/<%= novedades[i].image %>" width=100% alt= "<%= novedades[i].name %>"></a>
                <div class="caja-datos-prod">
                    <i class="fas fa-truck icono-truck"></i>
                    <p class="precios">$<%= novedades[i].price %></p>
                    <!-- <p class="descuentos"><%= novedades[i].discount %>% off</p> -->
                    <h4 class="oculto-enmobile"><%= novedades[i].name %> </h4>
                    <h4 class="oculto-enmobile">Marca: <%= novedades[i].brand.name %></h4>
                    <% for( let j = 0;  j < novedades[i].colors.length; j++ ) { %>
                    <h4 class="oculto-enmobile">Color: <%= novedades[i].colors[j].name %></h4>
                    <% }%>
                </ul>
                
                </div>
            </article>
            <% }%>
            </div>
        </section>
        <section>
            <h2 class="titulo-category-home">OFERTAS</h2>
            <div class="productos">
                <% for( let i = 0;  i < enOferta.length; i++ ) { %>
                    <article class="article-productos"><a href="/productos/<%= enOferta[i].id %>/detalleDeproducto %>"><img src="/images/productos/<%= enOferta[i].image %>" width=100% alt= "<%= enOferta[i].name %>"></a>
                        <div class="caja-datos-prod">
                            <i class="fas fa-truck icono-truck"></i>
                            <p class="precios">$<%= enOferta[i].price %></p>
                            <!-- <p class="descuentos"><%= enOferta[i].discount %>% off</p> -->
                            <h4 class="oculto-enmobile"><%= enOferta[i].name %></h4>
                            <h4 class="oculto-enmobile">Marca: <%= enOferta[i].brand.name %></h4>
                            <% for( let j = 0;  j < enOferta[i].colors.length; j++ ) { %>
                                <h4 class="oculto-enmobile">Color: <%= enOferta[i].colors[j].name %></h4>
                                <% }%>
                        </ul>
                        
                        </div>
                    </article>
                    <% }%>
            </div>
        </section>
        <hr>
        <section class='historiaMarketing'>
            <article class='historiaMarketingImage'><img src="/images/deportista.jpg" width=100% alt="foto deportista"></article>
            <article class='historiaMarketingText'><p> No puedes poner un límite a nada. Cuanto más sueñas, más lejos llegas. - Michael Phelps</p></article>
        </section>
    </main>
</body>
<%- include("./partials/footer")%> 
</html>
